<!DOCTYPE html>
<html lang="en">
<head>
    {% capture title %}{% if page.title %}{{page.title}} - {% endif %}{{ site.title }}{% endcapture -%}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{{page.description}}">
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ',' }}">{% endif %}

    <!-- Open Graph data -->{% if page.is_post %}
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}">{% endfor %}
    {% else %}
    <meta property="og:type" content="website">
    {% endif %}
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:url" content="{{site.url}}{{page.url}}">

    <!-- twitter data-->
    <meta name="twitter:card" content="summary" >
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{page.description}}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- custom style -->
    <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css">
    <script src="{{ site.baseurl }}js/g01.js"></script>

    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup":  { "background": "#080808", "text": "#ffffff" },
    "button": { "background": "#dddddd", "text": "#000000" }
  },
  "theme": "classic",
  "content": { "dismiss": "OK", "href": "http://cookiestatement.eu/" },
  onStatusChange: function(status) {
      if (this.hasConsented()) {
        ga('send', 'event', 'cookieconsent', 'OK', window.location.pathname);
      }
  },
  onPopupOpen: function() {
    ga('send', 'event', 'cookieconsent', 'Show', window.location.pathname);
  }
})});
    </script>
</head>

<body>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}"><strong>{{ site.title }}</strong></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for p in site.pages %}
                    {% if p.group == "navl" %}
                        {% if p.url == page.url %}{% capture cl %}class="active"{% endcapture %}{% endif %}
                <li {{ cl }}><a href="{{ p.url }}">{{ p.title }}</a></li>
                        {% assign cl = nil %}
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>

<div class="container">
{{ content }}
{% if page.description %}<div class="fb-like" data-href="{{site.url}}{{page.url}}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>{% endif %}
</div>

<div id="footer">
    <div class="container">
        <div class="text-muted text-right"><small>
            Powered by: <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
            and <a href="http://jekyllrb.com/" target="_blank">Jekyll</a>.
            Hosted by: <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>
        </small></div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}js/g02.js"></script>
</body>
